In [3]:
import cx_Oracle

In [4]:
username = 'admin'
password = 'password'
dsn = 'cis550pricetracker.cgcukgcycu5f.us-east-1.rds.amazonaws.com/CIS550DB'
port = 1512
encode = 'UTF-8'

In [52]:
item = "AAPL"
kind = "stocks"
'''
SELECT ((tm.today_mkt_price - xm.yesterday_mkt_price)/xm.yesterday_mkt_price*100) AS market_return, 
((t.today_item_price - x.yesterday_item_price)/x.yesterday_item_price*100) AS item_return
FROM
(SELECT s.AAPL as today_item_price
FROM Stocks s 
WHERE s.dateID = 20200323) t,



(SELECT s.AAPL as yesterday_item_price
FROM Stocks s 
WHERE s.dateID = 20170103) x,



(SELECT i.SP as today_mkt_price
FROM Indexes i 
WHERE i.dateID = 20200323) tm,
(SELECT i.SP as yesterday_mkt_price
FROM Indexes i 
WHERE i.dateID = 20170103) xm;
'''

query = "SELECT ((tm.today_mkt_price - xm.yesterday_mkt_price)/xm.yesterday_mkt_price*100) AS market_return, " \
"((t.today_item_price - x.yesterday_item_price)/x.yesterday_item_price*100) AS item_return FROM (SELECT s." + \
item + " as today_item_price FROM " + kind + " s WHERE s.dateID = 20200323) t, (SELECT s." + item + \
" as yesterday_item_price FROM " + kind + " s WHERE s.dateID = 20170103) x, (SELECT i.SP as today_mkt_price " + \
"FROM Indexes i WHERE i.dateID = 20200323) tm, (SELECT i.SP as yesterday_mkt_price FROM Indexes i WHERE i.dateID = 20170103) xm"

In [53]:
print(query)

SELECT ((tm.today_mkt_price - xm.yesterday_mkt_price)/xm.yesterday_mkt_price*100) AS market_return, ((t.today_item_price - x.yesterday_item_price)/x.yesterday_item_price*100) AS item_return FROM (SELECT s.AAPL as today_item_price FROM stocks s WHERE s.dateID = 20200323) t, (SELECT s.AAPL as yesterday_item_price FROM stocks s WHERE s.dateID = 20170103) x, (SELECT i.SP as today_mkt_price FROM Indexes i WHERE i.dateID = 20200323) tm, (SELECT i.SP as yesterday_mkt_price FROM Indexes i WHERE i.dateID = 20170103) xm

In [54]:
connection = None
try:
    connection = cx_Oracle.connect(
        username,
        password,
        dsn)

    # show the version of the Oracle Database
    print('yay')
    print(connection.version)
    connection.cursor
         
except cx_Oracle.Error as error:
    print(error)
    connection.close()

c = connection.cursor() 
c.execute(query) 
for i in c:
    print(i)

yay
11.2.0.4.0
(-0.9048511181089808, 102.70123769084832)

In [90]:
item = "AAPL"
kind = "stocks"
def get_q8(item, kind):
    if (item == "SP" or item == "NASDAQ" or item == "DOW"):
        kind = "Indexes"
    query = "SELECT ((tm.today_mkt_price - xm.yesterday_mkt_price)/xm.yesterday_mkt_price*100) AS market_return, " \
            "((t.today_item_price - x.yesterday_item_price)/x.yesterday_item_price*100) AS item_return FROM (SELECT s." + \
            item + " as today_item_price FROM " + kind + " s WHERE s.dateID = 20200323) t, (SELECT s." + item + \
            " as yesterday_item_price FROM " + kind + " s WHERE s.dateID = 20170103) x, (SELECT i.SP as today_mkt_price " + \
            "FROM Indexes i WHERE i.dateID = 20200323) tm, (SELECT i.SP as yesterday_mkt_price FROM Indexes i WHERE i.dateID = 20170103) xm"
    connection = None
    try:
        connection = cx_Oracle.connect(
            username,
            password,
            dsn)
        connection.cursor            
    except cx_Oracle.Error as error:
        connection.close()

    c = connection.cursor() 
    c.execute(query) 
    first = [str(round(i[0],2)) for i in c][0]
    c = connection.cursor() 
    c.execute(query) 
    second = [str(round(i[1],2)) for i in c][0]
    return first, second

In [91]:
first = get_q8(item, kind)

IndexError: list index out of range

In [ ]:
print(first)