In [1]:
import cx_Oracle

In [2]:
username = 'admin'
password = 'password'
dsn = 'cis550pricetracker.cgcukgcycu5f.us-east-1.rds.amazonaws.com/CIS550DB'
port = 1512
encode = 'UTF-8'

In [4]:
connection = None
try:
    connection = cx_Oracle.connect(
        username,
        password,
        dsn)

    # show the version of the Oracle Database
    print('yay')
    print(connection.version)
    connection.cursor
         
except cx_Oracle.Error as error:
    print(error)
    connection.close()

c = connection.cursor() 
c.execute('SELECT * FROM History WHERE dateID = 20080808')
for i in c:
    print(i)

yay
11.2.0.4.0
(20080808, 'The 2008 Summer Olympics starts with the 2008 Summer Olympics Opening Ceremony at the Beijing National Stadium. (The Christian Science Monitor)')