In [1]:
import cx_Oracle

In [2]:
username = 'admin'
password = 'password'
dsn = 'cis550pricetracker.cgcukgcycu5f.us-east-1.rds.amazonaws.com/CIS550DB'
port = 1512
encode = 'UTF-8'

In [6]:
connection = None
try:
    connection = cx_Oracle.connect(
        username,
        password,
        dsn)

    # show the version of the Oracle Database
    print('yay')
    print(connection.version)
    connection.cursor
         
except cx_Oracle.Error as error:
    print(error)
    connection.close()

c = connection.cursor() 
c.execute('WITH Sears AS (SELECT (SHLDQ/AMOUNT) as adjusted_sears FROM (SELECT dateID, SHLDQ FROM Stocks s WHERE dateID = 20060323) a JOIN Dates d ON a.dateID = d.dateID \
JOIN Inflation i ON d.Year = i.Year), \
Valentino AS (SELECT (Valentino/AMOUNT) as adjusted_valentino \
FROM (SELECT dateID, Valentino \
FROM Commodities c \
WHERE dateID = 20060323) a \
JOIN Dates d ON a.dateID = d.dateID \
JOIN Inflation i ON d.Year = i.Year) \
SELECT GREATEST(v.adjusted_valentino, s.adjusted_sears) as higher_value \
FROM Sears s, Valentino v;') 
for i in c:
    print(i)

SyntaxError: EOL while scanning string literal (<ipython-input-6-9d34a7a2b983>, line 21)